<div class="message-item relative" [ngClass]="{'read':read}">
  <div class="flex flex-col w-11/12">
    <h4 class="message-item-heading">Test Message</h4>
    <div class="message-item-body">
      Et et magna ea nonumy accusam dolor diam. Diam magna aliquyam voluptua et eos,
      dolores sit
      dolore diam stet
      dolores. Et et magna ea nonumy accusam dolor diam. Diam magna aliquyam voluptua et eos,
      dolores sit
      dolore diam stet
      dolores.
    </div>
  </div>
  <span class="message-date">24 OCT</span>

  <!-- action -->
  <div class="message-item-action absolute px-4 top-0 right-0 h-full flex items-center justify-center bg-white">
    <span><i class="ri-delete-bin-line ri-lg"></i></span>
  </div>
</div>