<div class="w-full md:w-[32rem]">
  <div class="flex flex-col bg-white shadow rounded-lg p-6">

    <h3 class="font-medium text-lg mb-6">Welcome! Login Here</h3>
    <app-alert [data]="message"></app-alert>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label for="" class="form-label">Email</label>
        <input type="email" placeholder="Email" class="form-control" formControlName="email">
      </div>
      <div class="mb-5">
        <label for="" class="form-label">Password</label>
        <input type="password" placeholder="Password" class="form-control" formControlName="password">
      </div>
      <div>
        <button type="submit" class="btn btn-success mr-2" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>

  <p class="text-center mt-6">Don't have an account? <a routerLink="/auth/register"
      class="text-blue-600 hover:underline">Register</a></p>
</div>